@page "/leave-requests"
@attribute [Authorize(Roles="Administrator")]

<MudGrid>
    
    <MudText Typo="Typo.h6" Class="mt-7 mb-4 ml-5" Style="font-size: 17px; letter-spacing: .7px; text-transform: uppercase;">Wniosek o urlop</MudText>

    <MudDivider Class="ml-5"/>

    <MudItem xs="12" lg="3">
        <MudCard>
            <MudCardContent>
                <MudText><b>All Requests</b></MudText>
                <MudText Typo="Typo.body2">Total: @Model.TotalRequests</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" lg="3">
        <MudCard>
            <MudCardContent>
                <MudText><b>Pending Requests</b></MudText>
                <MudText Typo="Typo.body2">Total: @Model.PendingRequests</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" lg="3">
        <MudCard>
            <MudCardContent>
                <MudText><b>Approved Requests</b></MudText>
                <MudText Typo="Typo.body2">Total: @Model.ApprovedRequests</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" lg="3">
        <MudCard>
            <MudCardContent>
                <MudText><b>Rejected Requests</b></MudText>
                <MudText Typo="Typo.body2">Total: @Model.RejectedRequests</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" xl="8">
        <MudTable Items="@Model.LeaveRequests" Hover Breakpoint="Breakpoint.Sm" Loading="_isLoading" LoadingProgressColor="Color.Primary" Elevation="1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Nowy wniosek</MudText>
                 <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Employee Name</MudTh>
                <MudTh>Start Date</MudTh>
                <MudTh>End Date</MudTh>
                <MudTh>Leave Type</MudTh>
                <MudTh>Date Requested</MudTh>
                <MudTh>Approval Status</MudTh>
                <MudTh>Options</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Employee name">@context?.Employee?.FirstName @context?.Employee?.LastName</MudTd>
                <MudTd DataLabel="Start date">@context.StartedAt.ToString("yyyy-MM-dd")</MudTd>
                <MudTd DataLabel="End date">@context.EndedAt.ToString("yyyy-MM-dd")</MudTd>
                <MudTd DataLabel="Leave type">@context.LeaveType.Name</MudTd>
                <MudTd DataLabel="Requested date">@context.RequestedAt</MudTd>
                <MudTd DataLabel="Requested date">
                    @if (context.Canceled)
                    {
                        <span class="badge bg-secondary">Cancelled</span>
                    }

                    else if (context.IsApproved is not null and true)
                    {
                        <span class="badge bg-success">Approved</span>
                    }

                    else if (context.IsApproved is not null and false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }

                    else
                    {
                        <span class="badge bg-warning">Pending</span>
                    }
                </MudTd>
                <MudTd DataLabel="Options">
                    @if (!context.Canceled)
                    {
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined" Color="Color.Primary" @onclick="() => GoToDetails(context.Id)">
                            Review
                        </MudButton>
                    }
                </MudTd>
                
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
            <NoRecordsContent>
                <MudText>Nie znaleziono żadnych elementów</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
        </MudTable>
    </MudItem>

</MudGrid>


@code {
    private string _searchString;
}

<style>
    .mud-card-header .mud-card-header-avatar {
        margin-right: 8px !important;
        margin-inline-end: 8px !important;
    }
</style>