@page "/leavetypes/"
@attribute [Authorize]

<MudGrid>
    <MudItem xs="12" Style="margin-left: 35px;">
        <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
    </MudItem>

    <MudItem xs="12" md="8" Style="margin-left: 50px;">
        <h3>LeaveTypes</h3>

        <div class="m-2 d-flex justify-content-end">
            <button @onclick="CreateLeaveType" class="btn btn-success">Add Leave Type</button>
        </div>

        @if (string.IsNullOrEmpty(Message) is false)
        {
            <div class="alert alert-danger">
                @Message
            </div>
        }
    </MudItem>

    <MudItem xs="12" md="7" Style="margin-left: 50px;">
        <MudTable Items="@LeaveTypes" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Default Days</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Default days">@context.DefaultDays</MudTd>
                <MudTd DataLabel="Actions">
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Text" Size="Size.Small">
                        <AuthorizeView Roles="Administrator" Context="authContext">
                            <MudButton OnClick="@(() => AllocateLeaveType(context.Id))">Allocate</MudButton>
                            <MudButton OnClick="@(() => EditLeaveType(context.Id))">Edit</MudButton>
                            <MudButton OnClick="@(() => DeleteLeaveType(context.Id))" Color="Color.Error">Delete</MudButton>
                        </AuthorizeView>

                        <MudButton OnClick="@(() => DetailLeaveType(context.Id))">Details</MudButton>
                    </MudButtonGroup>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>Nie znaleziono żadnych elementów</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
        </MudTable>

    </MudItem>
</MudGrid>

@code {
    private List<BreadcrumbItem> _items = [
        new BreadcrumbItem("Home", href: "#"),
        new BreadcrumbItem("Link 1", href: "#"),
        new BreadcrumbItem("Link 2", href: null, disabled: true)
    ];
}